<mat-card>
    <mat-card-title>
        Create New Password
    </mat-card-title>
    <mat-card-content>
        <mat-label>
            New Password
        </mat-label>
        <mat-form-field appearance="outline">
            <input matInput type="text"/>
        </mat-form-field>
        <br/>
        <mat-label>
          Re-Enter New Password
        </mat-label>
        <mat-form-field appearance="outline">
            <input matInput type="text"/>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="back()">Submit</button>
    </mat-card-actions>
</mat-card>

